@import url(./template.css);

body {
  padding: 0;
}

.discovery-catalog img {
  margin: 0;
}

.discovery-catalog p {
  padding: 0;
  margin: 0;
}

.discovery-catalog h1,
h2,
h3 {
  padding: 0;
  margin: 0;
}

.discovery-catalog ul {
  padding: 0;
}

.discovery-catalog ul li {
  padding: 0;
}

.discovery-catalog {
  overflow: hidden;
}

.discovery-catalog div {
  padding: 0;
  width: initial;
}

.discovery-catalog br {
  display: block;
}

.discovery-catalog {
  border-radius: 10px;
  padding: 50px;
}
.discovery-catalog .discovery-catalog-title {
  font-size: 24px;
  line-height: 120%;
  font-weight: 400;
  color: #303437;
  margin-bottom: 24px;
}
.discovery-catalog .discovery-catalog-template {
  display: grid;
  grid-template-columns: repeat(2, 400px);
  grid-template-rows: repeat(3, 80px);
  gap: 16px;
}

.discovery-catalog .discovery-catalog-template-item {
  position: relative;
  overflow: hidden;
  background: none;
}

.discovery-catalog .discovery-catalog-template-item::before {
  content: "";
  position: absolute;
  inset: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.2;
  z-index: 1;
  transition: opacity 0.3s;
}

.discovery-catalog .discovery-catalog-template-item > * {
  position: relative;
  z-index: 2;
  color: #303437;
  transition: opacity 0.3s;
  opacity: 1;
}

.discovery-catalog .discovery-catalog-template-item:hover::before {
  opacity: 0.85;
}

.discovery-catalog .discovery-catalog-template-item:hover > * {
  opacity: 0.8;
}

.discovery-catalog .discovery-catalog-template-item:first-child::before {
  background-image: url(https://www.porcelainsuperstore.co.uk/cdn/shop/files/Loire-Ivory-05.jpg);
}

.discovery-catalog .discovery-catalog-template-item:nth-child(2)::before {
  background-image: url(https://www.porcelainsuperstore.co.uk/cdn/shop/products/s20106-1.jpg);
}

.discovery-catalog .discovery-catalog-template-item:nth-child(2):hover > * {
  opacity: 1;
  color: white;
}

.discovery-catalog .discovery-catalog-template-item:nth-child(3)::before {
  background-image: url(https://www.porcelainsuperstore.co.uk/cdn/shop/files/ARDEN-OAK.jpg);
  background-position: top;
}

.discovery-catalog .discovery-catalog-template-item:nth-child(3):hover > * {
  opacity: 1;
  color: white;
}

.discovery-catalog .discovery-catalog-template-item:nth-child(4)::before {
  background-image: url(https://www.porcelainsuperstore.co.uk/cdn/shop/files/Southwell-Elm-Herringbone-01.jpg);
}

.discovery-catalog .discovery-catalog-template-item:nth-child(4):hover > * {
  opacity: 1;
  color: white;
}

.discovery-catalog .discovery-catalog-template-item:nth-child(5)::before {
  background-image: url(https://www.porcelainsuperstore.co.uk/cdn/shop/products/s20106-1.jpg);
}

.discovery-catalog .discovery-catalog-template-item {
  padding: 16px;
  border: 1px solid #f1f1f1;
  border-radius: 8px;
}
.template-item-title {
  font-size: 16px;
  line-height: 120%;
  font-weight: 400;
  color: #303437;
}
.template-item-description {
  font-size: 12px;
  line-height: 120%;
  font-weight: 400;
  color: #888787;
}

.template-item-checkall {
  font-size: 16px;
  line-height: 120%;
  font-weight: 600;
  color: #303437;
  margin-top: 14px;
}
